*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

section {
  padding: 50px;
}

/* ==================================================
   Videos
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
    Home
================================================== */
#home {
  padding: 100px 0;
}

#home .trends-versus,
#home .trends-topics {
  border-radius: 10px;
}

#home .trends .title {
  padding: 14px;
  background-color: #3498db;
  border-radius: 10px 10px 0 0;
}

#home .trends .title h2 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
}

#home .trends ul {
  background-color: #2c3e50;
  border-radius: 0 0 10px 10px;
  color: #ffffff;
}

#home .trends li {
  position: relative;
  padding: 5px 10px;
  margin: 2px 0 0;
  background-color: #34495e;
}

#home .trends li:first-child {
  margin-top: 0;
}

#home .trends li:last-child {
  border-radius: 0 0 10px 10px;
}

#home .trends-versus .candidate,
#home .trends-versus .versus {
  height: 150px;
  vertical-align: middle;
}

#home .trends-versus .candidate {
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
}

#home .trends-versus .candidate img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

#home .trends-versus .candidate span {
  display: block;
}

#home .trends-versus .versus {
  padding: 70px 0;
  text-align: center;
}

#home .versus .vs,
#home .versus .btn-vote  {
  display: block;
}

#home .versus .btn-vote {
  margin: 20px auto 0;
}

#home .votes-quantity {
  text-align: center;
  margin-bottom: 10px;
}

#home .topic .topic-name,
#home .topic .topic-vote {
  padding: 0;
}

#home .topic .topic-name {
  margin-top: 5px;
}

#home .topic .topic-vote {
  text-align: right;
}

/* ==================================================
    Tournament
================================================== */
#tournaments .tournament {
  text-align: center;
  margin-top: 20px;
}

#tournaments .tournament img {
  max-width: 250px;
}

#tournaments .tournament span {
  display: block;
}

/* ==================================================
    Versus
================================================== */
#versus .vs {
  margin-top: 20px;
}

#versus .vs .vs-row {
  margin: 0;
}

#versus .vs .topic {
  background-color: #34495E;
  border-radius: 4px 4px 0 0;
  padding: 4px;
  text-align: center;
}

#versus .vs .topic-name {
  color: #fffddd;
}

#versus .vs .candidate {
  padding: 20px;
  height: 240px;
}

#versus .vs .candidate img {
  margin-bottom: 10px;
}

#versus .vs .candidate span {
  display: block;
  text-align: center;
  color: #ffffff;
}

#versus .vs .candidate.winner {
  background-color: #27AE60;
  border-radius: 0 0 0 4px;
}

#versus .vs .candidate.loser {
  background-color: #C0392B;
  border-radius: 0 0 4px 0;
  opacity: 0.6;
}

/* ==================================================
    Tournament-Detail
================================================== */
#tournament-detail {
/*  display: flex;
  flex-direction: row;*/
  padding: 0;
}

/*#tournament-detail .round {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}

#tournament-detail .round .spacer {
  flex-grow:1;
}

#tournament-detail .round .spacer:first-child,
#tournament-detail .round .spacer:last-child {
  flex-grow:.5;
}

#tournament-detail .round .game-spacer{
  flex-grow:1;
}

#tournament-detail li.game {
  padding-left:20px;
}

#tournament-detail li.game.winner {
  font-weight:bold;
}
#tournament-detail li.game span {
  float:right;
  margin-right:5px;
}

#tournament-detail li.game-top {
  border-bottom:1px solid #aaa;
}

#tournament-detail li.game-spacer {
  border-right:1px solid #aaa;
  min-height:40px;
}

#tournament-detail li.game-bottom {
  border-top:1px solid #aaa;
}

#tournament-detail .game img {
  width: 80px;
}*/

/** **/
#tournament-detail .vs img {
  max-width: 130px;
  max-height: 117px;
  margin: 0 auto;
}

#tournament-detail .round-1 .vs,
#tournament-detail .round-2 .vs {
  padding: 15px 0;
  height: 145px;
}

#tournament-detail .round-3 .vs {
  padding: 86px 0;
  height: 290px;
}

#tournament-detail .round-3 .vs.last {
  padding: 15px 0;
  height: 145px;
}

#tournament-detail .round-4 .vs {
  padding: 231px 0;
  height: 580px;
}

#tournament-detail .round-4 .vs.last {
  padding: 195px 0 0;
  height: 435px;
}

#tournament-detail .round-5 .vs {
  padding: 503px 0;
  height: 1015px;
}

/*#tournament-detail .round-4 .vs.last {
  padding: 15px 0 0;
}*/

/* ==================================================
    Versus-Detail
================================================== */
#vs-detail .politic-information {
  margin-bottom: 30px;
}

#vs-detail .politic-information .candidate {
  text-align: center;
}

#vs-detail .politic-information span{
  display: block;
}
