*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

section {
  padding: 50px;
}

h2 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #E74C3C;
  font-size: 2.5em;
  margin-bottom: 30px;
}

/* ==================================================
   Videos
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
    Home
================================================== */
#home-container {
  background-image: url('../img/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home {
  padding: 100px 0;
}

#home .btn-vote{
}

#home .trends-versus,
#home .trends-topics {
  border-radius: 8px;
}

#home .trends .title {
  padding: 14px;
  background-color: #E74C3C;
  border-radius: 8px 8px 0 0;
}

#home .trends .title h2 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
}

#home .trends ul {
  border-radius: 0 0 8px 8px;
}

#home .trends li {
  position: relative;
  padding: 5px 8px;
  margin: 2px 0 0;
  background: rgba(212, 217, 220, 0.8);
}

#home .trends li:first-child {
  margin-top: 0;
}

#home .trends li:last-child {
  border-radius: 0 0 8px 8px;
}

#home .trends-versus .candidate,
#home .trends-versus .versus {
  height: 150px;
  vertical-align: middle;
}

#home .trends-versus ul .pp-name,
#home .trends-versus ul .votes-quantity {
  font-size: 1.2em;
}

#home .trends-versus ul .votes-quantity {
  font-size: 1.2em;
  color: #E74C3C;
  margin-bottom: 5px;
}

#home .trends-versus ul {
  font-weight: bold;
}

#home .trends-versus .vs{
  font-size: 2em;
  color: #E74C3C;
}

#home .trends-versus .candidate {
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
}

#home .trends-versus .candidate img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

#home .trends-versus .candidate span {
  display: block;
}

#home .trends-versus .versus {
  padding: 70px 0;
  text-align: center;
}

#home .versus .vs,
#home .versus .btn-vote  {
  display: block;
}

#home .trends .btn-vote {
  background-color: #34495E;
  color: #ffffff;
  font-size: 1em;
}

#home .trends-versus .btn-vote {
  margin: 20px auto 0;
}

#home .votes-quantity {
  text-align: center;
  margin-bottom: 10px;
}

#home .topic .topic-name,
#home .topic .topic-vote {
  padding: 0;
}

#home .topic .topic-name {
  margin-top: 5px;
}

#home .topic .topic-vote {
  text-align: center;
}

#home .topic-vote .votes-quantity {
  font-size: 1.2em;
  color: #F39C12;
}

/* ==================================================
    Tournament
================================================== */
#tournaments .tournament {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  color: #34495E;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#tournaments .tournament:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transform: scale(1.05);
}

#tournaments .tournament img {
  max-width: 250px;
}

#tournaments .tournament span {
  display: block;
}

/* ==================================================
    Versus
================================================== */
#versus {
  background-color: #ECF0F1;
}

#versus h2 {
  color: #34495E;
}

#versus .vs {
  margin-top: 20px;
}

#versus .vs .vs-row {
  margin: 0;
}

#versus .vs .topic {
  background-color: #34495E;
  border-radius: 4px 4px 0 0;
  padding: 4px;
  text-align: center;
}

#versus .vs .topic-name {
  color: #fffddd;
}

#versus .vs .candidate {
  padding: 20px;
  height: 280px;
  color: #34495E;
}

#versus .vs-row {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#versus .vs-row:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transform: scale(1.05);
}

#versus .vs .candidate .votes-quantity {
  font-size: 1.2em;
  color: #F39C12;
}

#versus .vs .candidate img {
  margin-bottom: 10px;
}

#versus .vs .candidate span {
  display: block;
  text-align: center;
}

#versus .vs .candidate.winner {
  background-color: #E74C3C;
  border-radius: 0 0 0 4px;
}

#versus .vs .candidate.loser {
  background-color: #C0392B;
  border-radius: 0 0 4px 0;
  opacity: 0.6;
}

/* ==================================================
    Tournament-Detail
================================================== */
#tournament-detail {
  padding: 0;
  text-align: center;
}

#tournament-detail .tournament-date {
  color: #2C3E50;
}

#tournament-detail .tournament-round {
  margin-top: 30px;
}

#tournament-detail .vs {
  cursor: pointer;
}

#tournament-detail .vs img {
  max-width: 130px;
  max-height: 117px;
  margin: 0 auto;
}

#tournament-detail .vs {
  text-align: center;
}

#tournament-detail .vs .candidate.loser img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#tournament-detail .round .vs .versus {
  font-weight: bold;
}

#tournament-detail .round-1 .vs,
#tournament-detail .round-2 .vs {
  padding: 15px 0;
  height: 145px;
}

#tournament-detail .round .vs {
  position: relative;
}

#tournament-detail .round-1 .vs .bracket {
  position: absolute;
  right: -20px;
  top: 15px;
}

#tournament-detail .round-1 .vs .versus {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
}

#tournament-detail .round-2 .vs .bracket {
  position: absolute;
  right: -20px;
  top: 15px;
  max-height: 264px;
}

#tournament-detail .round-3 .vs {
  padding: 86px 0;
  height: 290px;
}

#tournament-detail .round-3 .vs .bracket {
  position: absolute;
  right: -40px;
  top: 0;
  max-height: 406px;
}

#tournament-detail .round-3 .vs .versus,
#tournament-detail .round-4 .vs .versus {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#tournament-detail .round-4 .vs {
  padding: 231px 0;
  height: 580px;
}

#tournament-detail .round-4 .vs .bracket {
  position: absolute;
  right: -40px;
  top: 0;
  max-height: 696px;
}

#tournament-detail .round-5 .vs {
  padding: 503px 0;
  height: 1015px;
}

/* ==================================================
    Versus-Detail
================================================== */
#vs-detail {
  background-color: #ECF0F1;
}

#vs-detail h2 {
  margin-top: 100px;
}

#vs-detail h3 {
  text-align: center;
  font-family: 'Anton', sans-serif;

}

#vs-detail .politic-information {
  margin-bottom: 30px;
}

#vs-detail .politic-information .candidate-name {
  font-size: 1.2em;
  font-weight: bold;
}

#vs-detail .politic-information .votes {
  font-size: 1.2em;
  color: #F39C12;
  margin-bottom: 5px;
}

#vs-detail .politic-information .btn-vote {
  margin-top: 10px;
  background-color: #34495E;
  color: #ffffff;
  font-size: 1em;
}

#vs-detail .politic-information .candidate {
  text-align: center;
}

#vs-detail .politic-information span{
  display: block;
}

#vs-detail .politic-information img {
  margin: 0 auto;
}

#vs-detail .round .panel-heading {
  background-color: #E74C3C;
  color: #ffffff;
  text-align: center;
}
