<div class="container">
  <section id="home">
    <div class="row trends">
      <article class="col-md-4">
        <div class="trends-versus">
          <div class="title">
            <h2>Top VS pedidos</h2>
          </div>
          <ul>
            <li class="row">
              <div class="col-xs-6 candidate">
                <img src="img/pp/accion-popular.png">
                <span class="pp-name">Acción Popular</span>
                <span class="candidate-name">Alfredo Barnechea</span>
              </div>
              <div class="col-xs-6 candidate">
                <img src="img/pp/frente-amplio.png">
                <span class="pp-name">Frente Amplio</span>
                <span class="candidate-name">Veronika Mendoza</span>
              </div>
            </li>
            <li>Lorem ipsus</li>
            <li>Lorem ipsus</li>
          </ul>
        </div>
      </article>
      <article class="col-md-4">
        <div class="trends-topics">
          <div class="title">
            <h2>Top temas pedidos</h2>
          </div>
          <ul>
            <li>Lorem ipsus</li>
            <li>Lorem ipsus</li>
            <li>Lorem ipsus</li>
          </ul>
        </div>
      </article>
    </div>
    <div class="row filters">

    </div>
  </section>
  <section id="tournaments">
    <article class="tournament">

    </article>
  </section>
  <section id="versus">

  </section>
</div>
