<div class="container">
  <section id="home">
    <div class="row trends">
      <article class="col-md-6">
        <div class="trends-versus">
          <div class="title">
            <h2>Top VS pedidos</h2>
          </div>
          <ul>
            <li class="row">
              <div class="col-md-5 candidate">
                <img src="img/pp/accion-popular.png">
                <span class="pp-name">Acción Popular</span>
                <span class="candidate-name">Alfredo Barnechea</span>
              </div>
              <div class="col-md-2 versus">
                <span class="vs">VS</span>
                <button class="btn btn-vote">Votar</button>
              </div>
              <div class="col-md-5 candidate">
                <img src="img/pp/frente-amplio.png">
                <span class="pp-name">Frente Amplio</span>
                <span class="candidate-name">Veronika Mendoza</span>
              </div>
              <span class="col-md-12 quantity-votes">165154 votos</span>
            </li>
            <li>Lorem ipsus</li>
            <li>Lorem ipsus</li>
          </ul>
        </div>
      </article>
      <article class="col-md-4">
        <div class="trends-topics">
          <div class="title">
            <h2>Top temas pedidos </h2>
          </div>
          <ul>
            <li class="row topic">
              <div class="topic-name col-md-9">
                <span>Lorem ipsus</span>
              </div>
              <div class="topic-vote col-md-3">
                <button class="btn btn-vote">Votar</button>
              </div>
            </li>
            <li>Lorem ipsus</li>
            <li>Lorem ipsus</li>
          </ul>
        </div>
      </article>
    </div>
    <div class="row filters">

    </div>
  </section>
  <section id="tournaments">
    <h2>Torneos</h2>
    <div class="row">
      <article class="tournament col-md-4 col-md-offset-4">
        <img src="img/tournament-default.png">
        <h3>En Carrera</h3>
        <span>Del 10 Enero al 10 Febrero </span>
        <span>Breve descripción</span>
      </article>
    </div>
    <div class="row">
      <div class="col-md-4 tournament">
        <img src="img/pp/peruanos-por-el-cambio.png">
        <h3>Peruanos por el Kambio</h3>
        <span>Del 10 Enero al 10 Febrero </span>
        <span>Breve descripción</span>
      </div>
      <div class="col-md-4 tournament">
        <img src="img/pp/frente-amplio.png">
        <h3>Frente Amplio</h3>
        <span>Del 10 Enero al 10 Febrero </span>
        <span>Breve descripción</span>
      </div>
      <div class="col-md-4 tournament">
        <img src="img/pp/accion-popular.png">
        <h3>Acción Popular</h3>
        <span>Del 10 Enero al 10 Febrero </span>
        <span>Breve descripción</span>
      </div>
    </div>


  </section>
  <section id="versus">

  </section>
</div>
