<div class="container">
  <section id="home">
    <div class="row trends">
      <article class="col-md-6">
        <div class="trends-versus">
          <div class="title">
            <h2>Top VS pedidos</h2>
          </div>
          <ul>
            <li class="row" ng-repeat="(id,versus) in votingVersusList">
              <div class="col-md-5 candidate">
                <img src="img/pp/accion-popular.png">
                <span class="pp-name">{{versus.pp1.name}}</span>
                <span class="candidate-name">{{versus.pp1.candidate_name}}</span>
              </div>
              <div class="col-md-2 versus">
                <span class="vs">VS</span>
                <button class="btn btn-vote">Votar</button>
              </div>
              <div class="col-md-5 candidate">
                <img src="img/pp/frente-amplio.png">
                <span class="pp-name">{{versus.pp2.name}}</span>
                <span class="candidate-name">{{versus.pp2.candidate_name}}</span>
              </div>
              <span class="col-md-12 votes-quantity">{{versus.votes}} votos</span>
            </li>
          </ul>
        </div>
      </article>
      <article class="col-md-4">
        <div class="trends-topics">
          <div class="title">
            <h2>Top temas pedidos </h2>
          </div>
          <ul>
            <li class="row topic" ng-repeat="(id,topic) in votingTopicsList">
              <div class="topic-name col-md-9">
                <span>{{topic.name}}</span>
              </div>
              <div class="topic-vote col-md-3">
                <button class="btn btn-vote">Votar</button>
              </div>
            </li>
          </ul>
        </div>
      </article>
    </div>
    <div class="row filters">

    </div>
  </section>
  <section id="tournaments">
    <h2>Torneos</h2>
    <div ng-repeat="(id,tournament) in tournamentsList">
      <div class="row" ng-show="tournament.state == 'inProcess'">
        <article class="tournament col-md-4 col-md-offset-4" ng-click="goTournamentDetail(tournament)">
          <img src="img/tournament-default.png">
          <h3>En Carrera</h3>
          <span>Del {{tournament.init_date}} al {{tournament.end_date}} </span>
          <span>{{torunament.detail}}</span>
        </article>
      </div>
      <div class="row">
        <div class="col-md-4 tournament" ng-show="tournament.state != 'inProcess'" ng-click="goTournamentDetail(tournament)">
          <img src="img/pp/peruanos-por-el-cambio.png">
          <h3 ng-show="tournament.phase.ph15.pp1.winner == true">{{tournament.phase.ph15.pp1.name}}</h3>
          <h3 ng-show="tournament.phase.ph15.pp2.winner == true">{{tournament.phase.ph15.pp2.name}}</h3>
          <span>Del {{tournament.init_date}} al {{tournament.end_date}} </span>
          <span>{{torunament.detail}}</span>
        </div>
      </div>
    </div>
  </section>
  <section id="versus">
    <h2>Versus</h2>
    <div class="row">
      <article class="col-md-4 vs" ng-repeat="(id,versus) in versusList" ng-click="goVersusDetail(versus)">
        <div class="row vs-row">
          <div class="col-md-12 topic">
            <span class="topic-name">{{versus.topic.name}}</span>
          </div>
          <div class="col-md-6 candidate winner">
            <img src="img/pp/peruanos-por-el-cambio.png" class="img-responsive">
            <span class="candidate-name">{{versus.pp1.candidate_name}}</span>
            <span class="pp-name">{{versus.pp1.name}}</span>
            <span class="votes-quantity">{{versus.pp1.votes}} votos</span>
          </div>
          <div class="col-md-6 candidate loser">
            <img src="img/pp/accion-popular.png" class="img-responsive">
            <span class="candidate-name">{{versus.pp2.candidate_name}}</span>
            <span class="pp-name">{{versus.pp2.name}}</span>
            <span class="votes-quantity">{{versus.pp2.votes}} votos</span>
          </div>
        </div>
      </article>
      <!-- <article class="col-md-4 vs">
        <div class="row vs-row">
          <div class="col-md-12 topic">
            <span class="topic-name">Unión Civil</span>
          </div>
          <div class="col-md-6 candidate winner">
            <img src="img/pp/peruanos-por-el-cambio.png" class="img-responsive">
            <span class="candidate-name">PPK</span>
            <span class="pp-name">Peruanos por el Kambio</span>
          </div>
          <div class="col-md-6 candidate loser">
            <img src="img/pp/accion-popular.png" class="img-responsive">
            <span class="candidate-name">Alfredo Barnechea</span>
            <span class="pp-name">Acción Popular</span>
          </div>
        </div>
      </article> -->
      <!-- <article class="col-md-4 vs">
        <div class="row vs-row">
          <div class="col-md-12 topic">
            <span class="topic-name">Unión Civil</span>
          </div>
          <div class="col-md-6 candidate winner">
            <img src="img/pp/peruanos-por-el-cambio.png" class="img-responsive">
            <span class="candidate-name">PPK</span>
            <span class="pp-name">Peruanos por el Kambio</span>
          </div>
          <div class="col-md-6 candidate loser">
            <img src="img/pp/accion-popular.png" class="img-responsive">
            <span class="candidate-name">Alfredo Barnechea</span>
            <span class="pp-name">Acción Popular</span>
          </div>
        </div>
      </article> -->
<!--       <article class="col-md-4 vs">
        <div class="row vs-row">
          <div class="col-md-12 topic">
            <span class="topic-name">Unión Civil</span>
          </div>
          <div class="col-md-6 candidate winner">
            <img src="img/pp/peruanos-por-el-cambio.png" class="img-responsive">
            <span class="candidate-name">PPK</span>
            <span class="pp-name">Peruanos por el Kambio</span>
          </div>
          <div class="col-md-6 candidate loser">
            <img src="img/pp/accion-popular.png" class="img-responsive">
            <span class="candidate-name">Alfredo Barnechea</span>
            <span class="pp-name">Acción Popular</span>
          </div>
        </div>
      </article> -->
    </div>
  </section>
</div>
