<div class="container">
  <section id="vs-detail">
    <div class="row politic-information">
      <div class="col-md-6 candidate">
        <img src="img/pp/accion-popular.jpg">
        <span class="candidate-name">PPK</span>
        <span class="pp-name">Peruanos por el Kambio</span>
      </div>
      <div class="col-md-6 candidate">
        <img src="img/pp/accion-popular.jpg">
        <span class="candidate-name">PPK</span>
        <span class="pp-name">Peruanos por el Kambio</span>
      </div>
    </div>
    <article class="row round">
      <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </article>
  </section>
</div>
