<div class="container">
  <section id="vs-detail">
    <div class="row politic-information">
      <div class="col-md-4 col-xs-6 col-md-offset-2 candidate">
        <img src="img/pp/accion-popular.png">
        <span class="candidate-name">{{versus.pp1.candidate_name}}</span>
        <span class="pp-name">{{versus.pp1.name}}</span>
      </div>
      <div class="col-md-4 col-xs-6 candidate">
        <img src="img/pp/accion-popular.png">
        <span class="candidate-name">{{versus.pp2.candidate_name}}</span>
        <span class="pp-name">{{versus.pp2.name}}</span>
      </div>
    </div>
    <article class="row round">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">{{versus.round.r1.pp1Url}}</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/n_eVf4piyAk?start=286&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/n_eVf4piyAk?start=286&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="row round">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">{{versus.round.r2.pp1Url}}</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/n_eVf4piyAk?start=286&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/n_eVf4piyAk?start=286&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
